.service-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin: 10px;

}

.contact-us-heading {
    background-color: #1c3766;
    color: #FFFFFF;
    padding: 10px 0px;
    border-radius: 5px;
    margin-bottom: 0;

}

.contact-form {
    background-color: #dee4e7;
    padding: 20px;
}