.service-container {
    background-color: #ebf0fa;
    border-radius: 5px;
    margin: 25px
}

.service-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin: 10px;

}

.section-sub-title {
    color: #1c3766;
    margin: 20px 0px;
    font-weight: 700;
}

.service-section span {
    color: #1c3766;
    font-weight: 500;
    font-size: 22px;
}

.service-container .contact-form-container {
    width: 75%;
}

.contact-us-heading {
    background-color: #1c3766;
    color: #FFFFFF;
    padding: 10px 0px;
    margin-bottom: 0;

}

.contact-form {
    background-color: #ebf0fa;
    padding: 20px;
}

@media screen and (max-width: 600px) {


    .service-container .contact-form-container {
        width: 100%;
    }

    .contact-title {
        font-size: 20px;
        margin-bottom: 0px;
    }

    .service-section {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
        margin: 10px;

    }
}

@media screen and (min-width: 601px) and (max-width: 990px) {

    .service-container .contact-form-container {
        width: 100%;
    }

    .contact-title {
        font-size: 20px;
        margin-bottom: 0px;
    }

    .service-section {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
        margin: 10px;

    }


}