.footer-container {
    background-color: #0c1a32;
    color: white;
}

.useful-link {
    width: 50%;
    margin: auto;
}

.useful-link h5 {
    color: tomato;
    margin-left: 30px;
}

.useful-link h5,
ul {
    text-align: left;
}

.useful-link>ul>li {

    list-style: none;

}